<!DOCTYPE html>
<html lang="en">
    {% include 'components/head.html' %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

{% block content %}
<body id="page-top">
    <div id="content">
        {% include 'components/navbar.html' %}
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="font-weight-bold text-primary mb-0">Consultar LPAs Realizados</h6>
                    <form id="filter-form" class="form-row mt-3">
                        <div class="form-group col-md-3">
                            <small class="form-text text-muted mb-2">Escolha a linha de produção</small>
                            <select name="filter_prod_line" id="filter_prod_line" class="form-control">
                                <option value="">Selecione a linha</option>
                                {% for line in linhas %}
                                <option value="{{ line }}">{{ line }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <small class="form-text text-muted mb-2">Selecione a data início</small>
                            <input type="date" class="form-control" id="filter_date_inicio">
                        </div>
                        <div class="form-group col-md-3">
                            <small class="form-text text-muted mb-2">Selecione a data fim</small>
                            <input type="date" class="form-control" id="filter_date_fim">
                        </div>
                        <div class="form-group col-md-3">
                            <button type="button" class="btn btn-primary mt-4 ml-4" id="apply-filters">Aplicar Filtros</button>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    <div id="lpa-list" class="row">
                    </div>
                </div>
            </div>
        </div>

        {% include 'components/footer.html' %}
    </div>

    <div class="modal fade" id="lpaModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Detalhes do LPA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="incidenciaModal" tabindex="-1" aria-labelledby="incidenciaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="incidenciaModalLabel">Detalhes da Incidência</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="incidenciaModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defer></script>
    <script>
        {% include "js/lpa_check/consultarLPA.js" %}
    </script>    
{% endblock %}
</body>
</html>
