<link href="static/css/main.css" rel="stylesheet"/>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav sidebar sidebar-dark accordion toggled" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon">
                    <img src="static/content/check_sidebar.png" style="height:30px; margin-right: 10px;">
                </div>
                <div class="sidebar-brand-text">LPA</div>
            </a>
            <hr class="sidebar-divider my-0">
            
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-arrow-left mr-2"></i>
                    <span>Voltar</span>
                </a>
            </li>
        
            <hr class="sidebar-divider">
            
            <li class="nav-item {% if request.path == '/home' %}active{% endif %}">
                <a class="nav-link" href="/home">
                    <i class="fas fa-clipboard-check mr-2"></i>
                    <span>LPA Diário</span>
                </a>
            </li>
 
                    <!-- USAR APENAS SE VALER A PENA
            <li class="nav-item {% if request.path == '/create_lpa' %}active{% endif %}">
                <a class="nav-link" href="/create_lpa">
                    <i class="fas fa-check-circle mr-2"></i>
                    <span>Realizar LPA</span>
                </a>
            </li>
            -->

            <li class="nav-item {% if request.path == '/lpa_check' %}active{% endif %}">
                <a class="nav-link" href="/lpa_check">
                    <i class="fas fa-search mr-2"></i>
                    <span>Consultar LPA</span>
                </a>
            </li>

            <li class="nav-item {% if request.path == '/incidencias' %}active{% endif %}">
                <a class="nav-link" href="/incidencias">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                    <span>Incidências</span>
                </a>
            </li>
        
            <hr class="sidebar-divider d-none d-md-block">
            
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h4 class="text-white font-weight-bold mb-0 ml-md-4 title-lpa">Layered Process Audit - 1ª Camada</h4>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline small text-white font-weight-bold">
                                    {{ session['name'] }}
                                </span>
                                <img class="img-profile rounded-circle" src="static/images/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <h6 class="dropdown-header text-center">
                                    {{ session['name'] }}
                                </h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Alterar Password
                                </a>
                                <a class="dropdown-item" href="/">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/sb-admin-2.min.js"></script>